

	<section id="download-app" class="leaf-pattern-overlay">
		<div class="corner-pattern-overlay"></div>
		<div class="container">

    <div class="box-container"   class="leaf-pattern-overlay"       >

        <div class="box">
            <h3>ارتباط با ما</h3>
            <p href="#"> <i class="fas fa-envelope"></i> mahyanikkha@gmial.com</p>

        </div>

    </div>

	</section>

{##}
{#<section class="footer" >#}
{##}
{#    <div class="box-container"   class="leaf-pattern-overlay"       >#}
{##}
{#        <div class="box">#}
{#            <h3>ارتباط با ما</h3>#}
{#            <a href="#"> <i class="fas fa-phone"></i> +0939-200-7890 </a>#}
{#            <p></p>#}
{#            <a href="#"> <i class="fas fa-envelope"></i> mahyanikkha@gmial.com</a>#}
{#        </div>#}
{##}
{#    </div>#}
{##}
{#    <div class="credit"> made of mahay nikkhah<a href="https://netcopy.ir"><span></span></a> </div>#}
{##}
{#</section>#}